name: Build and test PyBDSF

on:
  pull_request:
  push:
    branches: ["master"]

env:
  BOOST_ROOT: "/opt/boost"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      LD_LIBRARY_PATH: ${{ vars.BOOST_ROOT }}/lib:${{ vars.LD_LIBRARY_PATH }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    # - name: Apt install required packages
    #   run: |
    #     sudo apt-get install -y libboost-python-dev libboost-numpy-dev
    - name: Get environment variables from pyproject.toml
      shell: python
      run: |
        import tomllib, os
        with open("pyproject.toml", "rb") as f:
          toml = tomllib.load(f)
        env = toml["tool"]["cibuildwheel"]["environment"].strip()
        print(f"GITHUB_ENV = os.getenv('GITHUB_ENV')")
        with open(os.getenv("GITHUB_ENV", "a")) as f:
          f.write(env)
    # - name: Set environment variables
    #   run:
    #     echo "BOOST_VERSION=1.87.0" >> $GITHUB_ENV
    #     echo "BOOST_ROOT=/opt/boost" >> $GITHUB_ENV
    #     echo "BOOST_BUILD_DIR=/tmp/boost-build" >> $GITHUB_ENV
    #     echo "BOOST_INSTALL_DIR=${BOOST_ROOT}"
    - name: Show environment
      run: |
        env
    # - name: Build and install Boost
    #   env:
    #     BOOST_VERSION: "1.87.0"
    #     BOOST_BUILD_DIR: "/tmp/boost-build"
    #     BOOST_INSTALL_DIR: ${{ env.BOOST_ROOT }}
    #     CC: "gcc"
    #     CXX: "g++"
    #     CXXFLAGS: "-I${{ env.BOOST_ROOT }}/include -L${{ env.BOOST_ROOT }}/lib"
    #     FC: "gfortran"
    #   run: |
    #     env
    #     cibuildwheel/before_all.sh
    #     cibuildwheel/before_build.sh
    # - name: Build and install PyBDSF
    #   env:
    #     LD_LIBRARY_PATH: "${{ env.BOOST_ROOT }}/lib:${{ env.LD_LIBRARY_PATH }}"
    #   run: |
    #     python -m pip install .
    # - name: Test PyBDSF
    #   env:
    #     LD_LIBRARY_PATH: "${{ env.BOOST_ROOT }}/lib:${{ env.LD_LIBRARY_PATH }}"
    #   run: |
    #     cd test && python tbdsf_process_image.py
