name: Build and test PyBDSF

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Apt install required packages
      run: |
        sudo apt-get install -y libboost-python-dev libboost-numpy-dev
    - name: Build and install PyBDSF 
      run: |
        python -m pip install .
    - name: Test PyBDSF
      run: |
        cd test && python tbdsf_process_image.py
